@import "vars"
@import "fonts"
@import "libs"



*,
*:before,
*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	
::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	margin: 0
	background-color: #000000
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

button
	background: transparent
	border: none
	cursor: pointer
	padding: 0
	margin: 0
	outline: none

a
	text-decoration: none
	&:hover
		text-decoration: none

p, ul, li
	padding: 0
	margin: 0

li
	list-style-type: none

h1, h2, h3, h4, h5, h6
	padding: 0
	margin: 0

img
	width: 100%



/* Container **********************************************************/
.container
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px
	width: 100%


/* Header**********************************************************/
.header
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 24.53%), linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(../img/bg-1.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	min-height: 670px
	&__container
		position: relative
	&__wrap
		padding-top: 30px
		display: flex
		justify-content: space-between
		align-items: center
	&__sign-in
		img
			max-width: 152px
	&__content
		padding-top: 75px
	&__item
		z-index: 2
	&__title-img
		img
			max-width: 550px
	&__subtitle-img
		padding-top: 60px
		img
			max-width: 470px
	&__bigbord-img
		position: absolute
		top: 100px
		right: 0
		z-index: 1
		img
			max-width: 450px
	&__logo-animate-img
		position: absolute
		top: 240px
		right: 70px
		z-index: 1
		transform: rotate(-14.68deg)
		img
			max-width: 300px
	&__join-btn
		padding-top: 60px


/* Button **********************************************************/
.join
	img
		max-width: 350px
		width: 100%


/* Logo **********************************************************/
.logo
	cursor: pointer
	img
		max-width: 170px
		width: 100%

/* Menu **********************************************************/
.menu
	&__list
		&-item
			display: inline-block
			&:not(:last-child)
				margin-right: 70px
		&-link
			text-shadow: 0px -1px 18px #FF00B8
			color: $accent
			font-family: $default-font, sans-serif
			font-size: 16px
			&:hover
				color: $accent

/* Choice **********************************************************/
.choice
	background: #000000
	&__title
		display: flex
		align-items: center
		justify-content: center
		z-index: 2
		&-img
			img
				max-width: 650px
		&-bg
			position: absolute
			z-index: 1
			left: 50%
			bottom: -30px
			margin-left: -125px
			img
				max-width: 250px
	&__wrap
		position: relative
		z-index: 2
		display: flex
		justify-content: center
		align-items: center
	&__slider
		background-image: url(../img/border-slider.png)
		background-repeat: no-repeat
		background-position: center
		background-size: 100% 100%
		height: 610px
		z-index: 2
		position: relative
		top: -10px
	&__button
		display: flex
		justify-content: center



/* Balls **********************************************************/
.balls
	background-color: #000000
	position: relative
	&__items
		padding-top: 53px
		padding-bottom: 110px
		display: flex
		align-items: center
		justify-content: space-around

.ball
	background-image: url(../img/ball.gif)
	background-repeat: no-repeat
	background-position: center
	background-size: 100%
	max-width: 300px
	min-height: 300px
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	position: relative
	&::after
		position: absolute
		bottom: -75px
		left: 50%
		margin-left: -16px
		font-family: $default-font, sans-serif
		font-weight: 900
		font-size: 96px
		line-height: 70px
		background: linear-gradient(180deg, rgba(0, 194, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(255, 0, 184, 0.1), rgba(255, 0, 184, 0.1))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		color: rgba(255, 255, 255, .2)
	&:nth-child(1):after
		content: '1'
	&:nth-child(2):after
		content: '2'
	&:nth-child(3):after
		content: '3'
	&__text
		color: $accent
		font-family: $default-font, sans-serif
		font-weight: 600
		font-size: 16px
		width: 200px
		text-align: center

/* Play **********************************************************/
.play
	background-image: url(../img/Group21.jpg)
	background-repeat: no-repeat
	background-position: top center
	background-size: cover
	min-height: 850px
	width: 100%
	position: relative

.arrow
	position: absolute
	img
		max-width: 254px
	&__one
		bottom: 30%
		left: 37%
		img
			transform: rotate(-45.49deg)
	&__two
		bottom: 3%
		left: 37%
		img
			max-width: 370px
	&__three
		bottom: -7%
		left: 30%
		img
			transform: rotate(45.83deg)


/* Offers **********************************************************/
.offers
	padding: 100px 0
	&__slider
		transform: rotate(10.18deg)

/* Footer **********************************************************/
.footer
	background: #000000
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
	.menu
		&__list
			&-item
				&:not(:last-child)
					margin-right: 217px
	&__items
		margin-top: 90px
		display: flex
		justify-content: space-between
	&__title
		color: #ADADAD
		font-family: $default-font, sans-serif
		font-weight: 600
		font-size: 16px
		line-height: 20px
	&__list
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: center
		margin-top: 25px
		&-item
			display: flex
			align-items: center
			&:not(:last-child)
				margin-bottom: 15px
		&-link
			color: #ADADAD
			display: flex
			justify-content: center
			align-items: center
			font-size: 16px
			img
				width: 30px
				height: 30px
				margin-right: 15px
	&__links
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding: 70px 0 30px
		text-align: center
		a
			color: #ADADAD
			font-family: $default-font, sans-serif
			font-weight: 600
			font-size: 16px
			padding: 0 10px

.icons
	margin-top: 25px
.icon
	display: inline-block
	&:not(:last-child)
		margin-right: 5px
	img
		width: 30px
		height: 30px


@import "media" // Always at the end
